/* CORPO - INICIO*/

body{
    font-family:-apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 62px;
    font-weight: 700; 
}

@media screen and (max-width: 991px){
    h1{
        font-size: 35px; 
    } 
}

section{
    padding: 50px 0px;
}

.btn-warning{
    color: #212529;
}

/* CORPO - INICIO*/

/* HEADER - INICIO */

.fundo-cabecalho{
    background: white;
}

.cabecalho .nav-item .nav-link{
    color: #212529;
    font-weight: 700;
    padding: 10px 20px; 
}

.cabecalho .nav-item .nav-link.active{
    color: #8f8f8f; 
}

.cabecalho .nav-item .nav-link:hover, .cabecalho .nav-item .nav-link:focus{
    color: #db5c00
}       

    
@media screen and (max-width: 991px){
    .cabecalho .navbar-nav{
        margin-top: 16px;
        background: rgba(255, 58, 85, 0.05); 
    } 
}

.logo{
    width: 230px;
    height: 50px;
    margin: 25px 0px;
}

body{
    padding-top: 116px;
    transition: padding-top ease-in-out .3s;
}

body.scrolled{ 
    padding-top: 85px ;
}

body.scrolled .navbar{ 
    box-shadow: 0px 2px 5px rgba(153, 153, 153, 0.3);
    height: 85px;
}

.navbar{
    height: 116px;
    transition: height ease-in-out .3s;
}

/* HEADER - FINAL */

/* CAPA INICIO */

.capa{
    color: white;
    padding: 100px 0; 
    position: relative;
}

.capa p{
    margin-top: 50px;
}

@media screen and (max-width: 991px){
    .capa p{
        font-size: 25px; 
    } 
}

.capa p, h1{
    text-shadow: rgba(0,0,0,0.5) 2px 2px 5px
}

.capa a{
    font-weight: 600;
    padding: 10px 25px;
}

.bg-capa{
    background-image: url(../img/fundo.jpg) ;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(80%);
    background-position: center;
    background-size: cover
}

.capa-assinantes{
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 50px;
    font-weight: 500;
}

.capa-titulo{
    line-height: 1.3em;
}
    
/* CAPA - FINAL */

/* SECTION - INICIO */

.section-1 h2{
    margin-bottom: 50px;
    font-size: 2.3em;
}

.section-1 h3{
    margin-top: 15px;
    font-size: 1.8em;
}

.section-1 p{
    padding: -15px;
    color: #a2a2a2;
    margin-top: 10px;
    padding: 15px;
}

#leia-mais{
    text-align: center;
    font-weight: 700;
    display: block;
    text-align: center;
    color: #71abff;
    text-decoration: none;
    padding: 100px 0px;
}

@media (max-width: 992.98px) {
    #leia-mais{
        line-height: 0px;
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

@media (max-width: 575.98px) { 
    .section-1 p{
        margin: 20px 30px;
        text-align: center;
    }
}

.img-icons{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-svg{
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

.section-2 h2{
    margin-bottom: 20px;
    font-size: 3em;
}

.section-1 h2, .section-2 h2, .section-1 h3, .section-2 p, .texto-servicos, .api-area, .api-buttom-area, .footer-wrapper{
    text-align: center;
}

.section-2 p{
    color: #a2a2a2;
    width: 75%;
    padding: 15px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


@media screen and (max-width: 991px){
    .section-2 h2{
        font-size: 2em; 
    } 

    .section-2 p{
        font-size: 1em;
    }
}

/* SECTION - FINAL */

/* BANNER API - INICIO */

.api-area{
    color: white;
    height: 250px;
    background-color: #4f63d6;
    margin-top: 50px;
    padding: 50px 0px;
}

.api-buttom-area{
    color: white;
    background-color: #3b4bac;
    height: 60px;
    /* margin-bottom: 50px; */
}

.api-buttom-area h4{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 55px;
}

.api-info{
    font-weight: 400;
    padding-right: 8px;
}

.api-buttom{
    padding: 6px 12px;
}

@media (max-width: 767.98px) {
    
    .api-buttom{
        display: none;
    }
    .api-buttom-area{
        height: 120px;
    }
}

.api-buttom-2{
    border-radius: 15px;
    padding: 6px 12px;
}

@media (min-width: 767.98px) {
    
    .api-buttom-2{
        display: none;
    }
}

/* BANNER API - FINAL */

/* SECTION FORM - INICIAL */

.form-central{
    margin: 50px 0px;
}

.form-sec{
    max-width: 600px;
    margin: 0 auto;
}

/* SECTION FORM - INICIAL */


/* FOOTER - INICIO */

footer{
    color: white;
    background-color: #3b4bac;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

footer a, footer a:hover{
    color: white;
}

.footer-name:hover{
    font-weight: 700;
}

footer i{
    letter-spacing: 20px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-wrapper div{
    padding: 20px 0px 2px  ;
}

.icons-wrapper{
    font-size: xx-large;
}

@media (max-width: 575.98px) {
    
    .footer-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
    }
}

/* FOOTER - FINAL */
