/* CORPO - INICIO*/

h1{
    font-size: 62px;
    font-weight: 700; 
}

@media screen and (max-width: 991px){
    h1{
        font-size: 35px; 
    } 
}

/* CORPO - INICIO*/

/* HEADER - INICIO */

.cabecalho{
    padding: 30px 0;
    margin: 25px;
}

.fundo-cabecalho{
    background: white;
}

.cabecalho .nav-item .nav-link{
    color: #000000;
    font-weight: 700;
    padding: 10px 20px; 
}

.cabecalho .nav-item .nav-link.active{
    color: #8f8f8f; 
}

.cabecalho .nav-item .nav-link:hover, .cabecalho .nav-item .nav-link:focus{
    color: #ff3a55; 
}       

    
@media screen and (max-width: 991px){
    .cabecalho .navbar-nav{
        margin-top: 16px;
        background: rgba(255, 58, 85, 0.05); 
    } 
}

.logo{
    width: 230px;
    height: 50px;
    margin: 25px 0px;
}

/* HEADER - FINAL */

/* CAPA INICIO */

.capa{
    color: white;
    padding: 100px 0; 
    position: relative;
    margin-bottom: 65px;
}

.capa p{
    margin-top: 50px;
}

@media screen and (max-width: 991px){
    .capa p{
        font-size: 25px; 
    } 
}

.capa p, h1{
    text-shadow: rgba(0,0,0,0.5) 2px 2px 5px
}

.capa a{
    font-weight: 600;
    padding: 10px 25px;
}

.bg-capa{
    background-image: url(../img/fundo.jpg) ;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(80%);
    background-position: center;
    background-size: cover
}

.capa-assinantes{
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 50px;
    font-weight: 500;
}

.capa-titulo{
    line-height: 1.3em;
}
    
/* CAPA - FINAL */

/* SECTION 1 - INICIO */

.section-1 h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.3em;
}

.section-1 h3{
    margin-top: 15px;
    font-size: 1.8em;
    text-align: center;
}

.section-1 p{
    padding: -15px;
    color: #a2a2a2;
    margin-top: 10px;
    padding: 15px;
}

#leia-mais{
    text-align: center;
    font-weight: 700;
    display: block;
    text-align: center;
    color: #71abff;
    text-decoration: none;
    padding: 100px 0px;
}

@media (max-width: 992.98px) {
    #leia-mais{
        line-height: 0px;
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

@media (max-width: 575.98px) { 
    .section-1 p{
        margin: 20px 30px;
        text-align: center;
    }
}

.texto-servicos{
    text-align: center;
}

.img-icons{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-svg{
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

/* SECTION 1 - FINAL */

/* SECTION 2 - INICIO */

.section-2 h2{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
}

.section-2 p{
    color: #a2a2a2;
    width: 75%;
    padding: 15px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}


@media screen and (max-width: 991px){
    .section-2 h2{
        font-size: 2em; 
    } 

    .section-2 p{
        font-size: 1em;
    }
}

/* SECTION 2 - FINAL */

/* BANNER API - INICIO */

.api-area{
    color: white;
    height: 250px;
    background-color: #4f63d6;
    text-align: center;
    margin-top: 50px;
    padding: 50px 0px;
}

.api-buttom-area{
    color: white;
    background-color: #3b4bac;
    text-align: center;
    height: 60px;
    /* margin-bottom: 50px; */
}

.api-buttom-area h4{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 55px;
}

.api-info{
    font-weight: 400;
    padding-right: 8px;
}

.api-buttom{
    border-radius: 15px;
    padding: 6px 12px;
}

@media (max-width: 767.98px) {
    
    .api-buttom{
        display: none;
    }
    .api-buttom-area{
        height: 120px;
    }
}

.api-buttom-2{
    border-radius: 15px;
    padding: 6px 12px;
}

@media (min-width: 767.98px) {
    
    .api-buttom-2{
        display: none;
    }
}

/* BANNER API - FINAL */

/* SECTION FORM - INICIAL */

.form-central{
    margin: 50px 0px;
}

.form-sec{
    width: 600px;
}

/* SECTION FORM - INICIAL */


/* FOOTER - INICIO */

footer{
    background-color: #e8e8e8;
    margin-top: 20px;
}

.footer-left{
    padding: 40px 0px;
    text-align: start;
    padding-left: 30px;
}

.footer-right{
    padding: 40px 0px;
    text-align: end;
    padding-right: 30px;
    font-size: xx-large;
    letter-spacing: 10px;
}

@media (max-width: 767.98px) {
    
    .footer-left{
        font-size: 11px;
    }

    .footer-right{
        font-size: 25px;
        letter-spacing: 5px;
    }
}

/* FOOTER - FINAL */
